nav {
  display: flex; /* Use flexbox */
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */

}
nav header h1 a {
    font-size: 36px; /* Adjust font size as needed */
    font-weight: bold; /* Make the title bold */
    color: #333; /* Text color */
    margin-bottom: 20px; /* Space below the title */
}
nav header h1 a span{
    color: #333;
    text-decoration: none;

}
nav {
  background-color: #3498db; /* Navbar background color */
  padding: 15px; /* Padding around navbar */
  border-radius: 5px; /* Rounded corners */
  list-style-type: none; /* Remove default bullet points */
}

nav a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Text color */
  padding: 10px 15px; /* Padding around links */
  border-radius: 3px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
nav a:hover {
  background-color: #2980b9; /* Darken the background color on hover */
  color: #000; /* Change text color on hover */
}
nav a span:hover{
    background-color: #2980b9; /* Darken the background color on hover */
  color: #000; /* Change text color on hover */
}
div{
    background-color: darkorange;
}
