@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

text{
  text-indent: 20em;
}

.title{
  text-align:center;

}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}



#box {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  text-align: center;
}
.btn {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.btn:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

h2 {
  padding-left: 20px;
}

.variable-content {
  padding-top:100px; /* Altezza della navbar */
  min-height: 100vh;
  margin-bottom: 30px;
}

.left{
    text-align: left;
}

nav {
  position:  fixed;
  padding: 5px 5%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 100;
  background-color: white;
}

nav .navbar-base{
  position:  fixed;
  padding: 5px 5%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 100;
  background-color: white;

}

.logo1{
  margin-top: 9rem;
text-align: center;
  font-size: 2rem;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
nav .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
div a.logo-container:hover {
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
  white-space: nowrap;
}

nav ul li a:hover {
  background-color: #f5f5f5;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.1s;
}
.hamburger-active {
  transition: all 0.25s;
  transition-delay: 0.1s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.25s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.25s ease-in;
  z-index: 2;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}


.menubar ul li a:hover {
  background-color: #f5f5f5;
}
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

.logout-btn {
  font-weight: 500;
  border: none;
  background-color: white;
  font-size: 95%;
  padding: 4px 8px;
  border-radius: 5px;
}

.logout-btn:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: #6500ff;
}

footer {
    bottom: 0;
    position: relative;
    background-color: #6500ff;
    width:100%;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


.footer-container {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.footer-left, .footer-right {
    flex-basis: 20%;
}

  .footer-left h3, .footer-right h3 {
    margin-bottom: 10px;
  }

  .footer-right ul {
    list-style: none;
    padding: 0;
  }

  .footer-right ul li {
    display: inline;
    margin-right: 10px;
  }

  .footer-right ul li:last-child {
    margin-right: 0;
  }

  .footer-right ul li a {
    color: #fff;
    text-decoration: none;
  }

  .copyright {
    margin-top: 20px;
  }

  .email a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  .email a:hover {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
  }

  .textB {
    color: white;
    background-color: transparent;
    text-decoration: none;

  }

  div.libreria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  div .wrapper {
    display: inline-flex;
    flex-wrap: wrap;
  }


  .libri {
    width: 200px;
    margin: 20px;
    padding: 3px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
  }

    @media screen and (max-width: 700px){
      .libri {
    width: 80vw;
    margin: 20px;
    padding: 3px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color: #f0f0f0;
    overflow: hidden;
    justify-content: left;
    align-items: center;
  }
  }

  .libro_title {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .descrizione {
    font-size: 0.9em;
    color: #333;
  }

  p.body {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }

  div {
    background-color: transparent; /* Navbar background color */
    padding: 10px; /* Padding around navbar */
    border-radius: 5px; /* Rounded corners */
    list-style-type: none; /* Remove default bullet points */
  }

  div a {
    text-decoration: none;
    color: #070000;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s;
  }

  div a.toread {
    text-decoration: none;
    color: #070000;
    padding: 8px 15px;
    border-radius: 3px;
    transition: 0.3s;
  }

  ul li.autore {
    list-style: none;
    padding: 8px;
  }

  ul li a{
    text-decoration: none;
    color: #070000;
    padding: 8px 15px;
    border-radius: 3px;
    transition: 0.3s;
  }

  ul p a:hover {
    background-color: #6500ff;
    color: #ffffff;
    cursor: pointer;
  }

  a.link:hover {
    background-color: #6500ff;
    color: #ffffff;
    cursor: pointer;
  }

    div p a.book:hover {
    color: #6500ff;
    cursor: pointer;
  }

  .login {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }

  .login .button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #6500ff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .signup {
    text-align: center;
    margin-top: 10px;
  }

  form.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #6500ff;
    border-radius: 25px;
    background-color: #f9f9f9;
    margin-bottom: 60px;
  }

  h1 {
    text-align: center;
    color: #6500ff;
  }

  form input[type="submit"] {
    margin: 10px;
    padding: 10px 20px;
    background-color: #6500ff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }

  p {
    margin: 10px;
  }

  form input[type="text"],
  form input[type="password"] {
    width: 100%;
    margin: 5px;

  }

  .book-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .generi-container {
    min-height: 100vh;
  }