{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<h2>Generi</h2>
<div class="generi-container">
    <a class="link" href="{% url 'giallo' %}">Giallo</a>
    <a class="link" href="{% url 'azione' %}">Azione</a>
    <a class="link" href="{% url 'cucina' %}">Cucina</a>
    <a class="link" href="{% url 'commedia' %}">Commedia</a>
    <a class="link" href="{% url 'religioso' %}">Religioso</a>
</div>
{% endblock content %}