{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container"></div>


     <form action="{% url 'logout' %}" method="post">
         {{ user.username }}
         {% csrf_token %}
            <input  type="submit" value="Logout">
     </form>
    <div class = "wrapper">
        {% for libro in book_list %}
            <div class="libri">
                <p class="libro_title"><a href="{{ libro.get_absolute_url }}">{{ libro.title }}</a></p>
                <p class="body"> {{ libro.body }}</p>
            </div>
    {% endfor %}
    </div>

{% endblock content %}
