{% extends "base.html" %}
{% block content %}

<h1>Login</h1>
    <div class="login form">

      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter your email" name="username">
        <input type="password" placeholder="Enter your password" name="password">
        <input type="submit" class="button" value="Login">
        <div style="text-align: center;">
          {% if success %}
          <p style="color: green;"><b>{{ success }}</b></p>
          {% endif %}
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </div>
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a class="btn " href="{% url 'signup' %}"><label for="check">Signup</label></a>
        </span>
      </div>
    </div>

{% endblock %}

<footer>
    <div class="footer-container">
        <section  id="contact">
        <div class="footer-left">

            <h3>Contatti</h3>
<div class="email">
            <p>Email: <a href="mailto:BookBuddy@gmail.com">BookBuddy@gmail.com</a></p>
</div>
            <p>Telefono: 322.836.3854</p>
        </div></section>
        <div class="footer-right">
            <h3>Seguici</h3>
            <ul>
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        &copy; 2024 BookByddy. Tutti i diritti riservati.
    </div>
</footer>